@charset "utf-8";

/* 共通のスタイル */
body{
  background-image: url(../../HEW/images/background_img.png);
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center; 
}

img{
  vertical-align: bottom;
}

a:link{color: #b16a23;}
a:visited{color: #b16a23;}
a:hover{}
a:active{color: #b16a23;}

body{
  text-align: center;
  background-color: #c0c0c0;
}

div.top{
  text-align: right;
  margin: 10px 10px 0 0;
}

