@charset "utf-8";

/* 共通のスタイル */

img{
  vertical-align: bottom;
}

a:link{color: #0000ee;}
a:visited{color: #551a8b;}
a:hover{}
a:active{color: #ff0000;}

body{
  text-align: center;
  background-color: #c0c0c0;
}

div.top{
  text-align: right;
  margin: 10px 10px 0 0;
}

