@charset "utf-8";

/* 削除ページ */

table{
    margin: 100px auto 0 auto;
    border-collapse: separate;
    border-spacing: 20px;
}

table td{
    padding: 2px;
}

div.button{
    margin: 60px auto 10px auto;
}

a.return{
    display: block;
    margin: 30px auto;
}

.button input{
    text-align: center;
    width: 70px;
    height: 40px;
    margin: 5px;
    color: #fff;
    background-color: #dc954e;
    cursor: pointer;
    border: none;
}
  
.button input:hover{
    opacity: 0.9;
}

