@charset "utf-8";

/* 共通のスタイル */

img{
  vertical-align: bottom;
}

a:link{color: #0000ee;}
a:visited{color: #551a8b;}
a:active{color: #ff0000;}

div.top{
  text-align: right;
  margin: 10px 10px 0 0;
}

main a{
  display: block;
  font-size: 1.4em;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

a.return{
  display: block;
  margin-top: 20px;
}

main a:link{color: #000;}
main a:visited{color: #000;}
main a:active{color: #000;}




