@charset "utf-8";

.button input{
    text-align: center;
    width: 70px;
    height: 40px;
    margin: 5px;
    color: #fff;
    background-color: #dc954e;
    cursor: pointer;
    border: none;
}
  
.button input:hover{
    opacity: 0.9;
}







