@charset "utf-8";

/* ログイン */

h1{
  font-size: 1.2em;
  text-align: center;
  margin: 100px 0 50px 0;
}

table{
  text-align: right;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 10px;
}


td.left{
  width: 7rem;
}

div.login{
  text-align: center;
  margin: 20px 0;
}

input.button{
  text-align: center;
  width: 70px;
  height: 40px;
  margin: 5px;
  color: #fff;
  background-color: #dc954e;
  cursor: pointer;
  border: none;
}

input.button:hover{
  opacity: 0.9;
}



