@charset "utf-8";

/* 共通のスタイル */

img{
  vertical-align: bottom;
}

a:link{color: #0000ee;}
a:visited{color: #551a8b;}
a:hover{}
a:active{color: #ff0000;}

h1{
  font-size: 1.2em;
  text-align: center;
  margin: 15px 0;
}

table{
  margin: 0 auto;
}

td.left{
  width: 7rem;
}

div.login{
  text-align: center;
  margin: 20px 0;
}



