@charset "utf-8";

/* 共通のスタイル */

div.top{
    text-align: right;
    margin: 10px 10px 0 0;
}

main a{
  display: block;
  font-size: 1.4em;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

main a:link{color: #000;}
main a:visited{color: #000;}
main a:active{color: #000;}

a.return{
  display: block;
  margin-top: 20px;
}



