@charset "utf-8";

/* 商品 */

div.top{
    text-align: right;
    margin: 10px 10px 0 0;
}

main ul li{
  margin: 70px;
  list-style: none;
}

main ul li a{
  font-size: 1.4em;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

main ul li a:link{color: #000;}
main ul li a:visited{color: #000;}
main ul li a:active{color: #000;}
main ul li a:hover{
  border-bottom: 2px solid #777;
}

a.return{
  display: block;
  margin-top: 20px;
}



