@charset "utf-8";

/* 共通のスタイル */

body{
  font-size: 1em;
  line-height: 1.6em;
  color: #000000;
  background-color: #F4FBFF;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

img{
  vertical-align: bottom;
}

a:link{color: #0000ee;}
a:visited{color: #551a8b;}
a:hover{}
a:active{color: #ff0000;}

nav.login{
  margin: 15px 0 20px 0;
}

a.login{
  text-align: right;
  margin-left: 800px;
}


/*ヘッダー*/
nav.login-name{
  margin: 15px 0 20px 0;
}

div.login-name{
  margin-left: 900px;
  width: 200px;
}

div.login-name div{
  background-color: #516ab6;
}

div.login-name div a:link{
  color: #fff;
}
div.login-name div a:visited{
  color: #fff;
}
nav ul.nav{
  display: flex;
}

nav ul li.nav_flex{
  width: 100%;
  height: 40px;
  text-align:center;
  background-color: #ddd;
  color: #000;
}

/*――――――――――――――――――――――以下、自分が記述した箇所――――――――――――――――――――――――――――――――――――――――――――――――*/
/* buy.htmlで使用したところ */
table.buytable{
  width: 800px;
}
table.buytable tr td{
  text-align: center;
  vertical-align: middle;
}

.cart_in{
  max-width: 200px;
  max-height: 200px;
  padding: auto;
}

.cart_h1{
  font-size: 25px;
  line-height: 40px;
  text-align: left;
}
.cart_count{
  font-size: 20px;
  line-height: 40px;
  text-align: left;
}

.cart_t td{
  width: 200px;
}

.cart_t img{
  width: 100px;
}

input.det_button{
  padding: 2px 40px;
  font-size: 0.8em;
  background-color: #449;
  border:2px #77D solid;
  color: #fff;
}
input.det_button:hover{
  background-color: #666;
}
input.out_button{
  padding: 2px 40px;
  font-size: 0.8em;
  background-color: #333;
  border:2px #333 solid;
  color: #fff;
}
input.out_button:hover{
  background-color: #666;
}
.text_right{
  text-align: right;
}
.buy_submit{
  margin: 0 auto;
  padding: 8px 100px;
  font-size: 1em;
  background-color: #f44;
  border:2px #f66 solid;
  color: #fff;
  border-radius: 5px;
}
input.buy_submit:hover{
  color: #fff;
  background-color: #faa;
  border-color: #faa;
}

.center{
  width: 100%;
  margin: 0 auto;
}
