@charset "utf-8";

/* 共通のスタイル */

body{
  font-size: 1em;
  line-height: 1.6em;
  color: #000000;
  background-color: #F4FBFF;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

img{
  vertical-align: bottom;
}

a:link{color: #0000ee; text-decoration: none;}
a:visited{color: #551a8b;}
a:hover{}
a:active{color: #ff0000;}

nav.login{
  margin: 15px 0 20px 0;
}

a.login{
  text-align: right;
  margin-left: 800px;
}


.menu {
    position: relative;
    width: 100%;
    height: 50px;
    max-width: 1100px;
    margin: 30px auto 80px auto;
    list-style: none;
  }

.menu > li {
    float: left;
    width: 20%; /* グローバルナビ5つの場合 */
    min-width: 9em;
    height: 45px;
    line-height: 45px;
    background: #516ab6;/*背景色*/
}

.menu > li:hover {
    background: #00bfff;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.menu > li a {
    display: block;
    color: #eee;
}

.menu > li a:hover {
    color: #f1f1f1;
}


ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

ul.menu__third-level {
    visibility: hidden;
    opacity: 0;
}

ul.menu__fourth-level {
    visibility: hidden;
    opacity: 0;
}


.menu__second-level li {
    border-top: 1px solid #111;
}

.menu__third-level li {
    border-top: 1px solid #111;
}

.menu__second-level li a:hover {
    background: #111;
}

.menu__third-level li a:hover {
    background: #2a1f1f;
}

.menu__fourth-level li a:hover {
    background: #1d0f0f;
}

/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}
/*ナビゲーションここまで*/
nav ul.nav{
  display: flex;
}

nav ul li.nav_flex{
  width: 100%;
  height: 40px;
  text-align:center;
  background-color: #ddd;
  color: #000;
}


/*スライダーの設定*/
.slider{
  margin: 0 auto;
  width: 80%;
}
.slider img{
  height: auto;
  width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}

/*メインビジュアルのスタイル*/

div#wrap{
  margin:0 auto 0 auto;
  display: flex;
}

/*日本地図*/
div.tizu{
  width: 605px;
}

/*検索欄*/
div.kensaku{
  width: 605px;
  background-color: #fff;

}
p.iku{
  width: 100px;
}

.k_p{
  display: inline-flex;
  margin-top: 40px;
}

.k_p1{
  margin-right: 40px;
}

.k_p3{
  margin-right: 10px;
  width: 200px;
}

.k_p2{
  display: inline-flex;
  margin-top: 10px;
}

.button3 {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 48px;   /* 余白       */
  background    : #999999;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #999999;    /* 枠の指定 */
}
.button3:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #999999;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

/*売れ筋ランキング・おすすめ*/
h1.h_1{
  text-align: left;
}
.multiple {
  padding: 0;
}
.multiple img {
  width: 100%;
  max-width: 200px;
  height: 200px;
}
.multiple div {
  margin: 0 5px;
}
.multiple .slick-next {
  right: 17px;　z-index: 100;
}
.multiple .slick-prev {
  left: 23px; z-index: 100;
}

.multiple div a{
  text-decoration: none;
  outline: none;
}

.multiple div a:link{color: #000;}
.multiple div a:visited{color: #000;}
.multiple div a:hover{}
.multiple div a:active{color: #000;}

/* 値段 */
.multiple_p1{
  margin-top: 10px;
  font-size: 1.5em;
  color: #E80034;
}

.multiple_p2{
  margin-top: 10px;
  font-size: 1.5em;
}