@charset "utf-8";

/* 共通のスタイル */

body{
  font-size: 1em;
  line-height: 1.6em;
  color: #000000;
  background-color: #F4FBFF;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

img{
  vertical-align: bottom;
}

a:link{color: #0000ee;}
a:visited{color: #551a8b;}
a:hover{}
a:active{color: #ff0000;}



/* ――――――――――――――――――――credit.htmlで使用したところ―――――――――――――――――――― */

table.sample{
  margin: 0 auto;
  padding: 0 auto;
}
h1.credit{
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}
table.credit{
  width: 350px;
  height: 450px;
  margin: 0 20px;
  padding: 0px 3px;
  background-color: #FFF;
  border-radius: 20px;
  border:3px #AAA solid;
  border-collapse: separate;
  table-layout: fixed;
}
h1.credith1{
  text-align: left;
  margin: 8px 0 0 10px;
}

.creditcard{
  margin: 20px 0 0 20px;
  border-collapse: collapse;
  width: 300px;
  text-align: left;
}
.creditcard tr td{
  width: 50px;
}

.hurikomi{
  text-align: left;
  line-height: 250%;
  font-size: 90%;
}

.creditinfo{
  margin: 20px 0 20px 0px;
  text-align: left;
  border-spacing: 5px 0;
}
.creditinfo tr td{
  font-size: 14px;/*
  border:2px #333 solid;*/
}


.input_num{
  height: 30px;
  width: 135px;
  border-radius: 5px;
}

.input_mon{

  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.input_year{
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.input_name{
  height: 30px;
  width: 200px;
  border-radius: 5px;
}

.haisou_free{
  color: #F00;
  width: 200px;
  margin: 0 0 0 50px;
}
/*jQuery関連*/
.text {
  display: none;
}
.text01 {
  margin: 10px 0 0 30px;
  display: block;
  font-size: 12px;
  line-height: initial;
  text-align: left;
}
.text02{
  margin: -5px 0 0 30px;
  font-size: 0px;
  line-height: 0px;
  text-align: left;
}

input.submit{
  padding: 3px 60px;
  font-size: 1.2em;
  background-color: #f33;
  border:2px #f33 solid;
  color: #fff;
}
input.submit:hover{
  background-color: #f66;
  border:2px #f66 solid;
}

.input_2{
  height: 30px;
  width: 120px;
  border-radius: 5px;
  margin: 10px 0 5px 0;
}


img.c_logo{
  width: 80%;
}
div.c_logo{
  width: 50px
}

.addtext{
  margin: 5px 0 0 20px;
  text-align: left;
  font-size: 12px;
}
input.addtext{
  margin: 0 0 0 200px;
  padding: 1px 15px;
  font-size: 1em;
  background-color: #fff;
  border:2px #f22 solid;
  color: #f22;
  border-radius: 5px;
}
input.addtext:hover{
  color: #faa;
  border-color: #faa;
}

div.scroll{
  width: 300px;
  height: 300px;
  overflow-y:scroll;
}

img.addtext{
  width: 50%;
}
td.img{
  width: 100px;
  vertical-align: middle;
}

.credit2{
  width: 280px;
  border-spacing: 5px 20px;
  font-size: 90%;
}
.credit2 tr td{
  width: 140px;
  text-align: left;
  margin: 0 0 0 30px;
}

.muryou{
  text-align: right;
  color: #F00;
}
input.card{
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #fff;
  border:2px #f22 solid;
  color: #f22;
  border-radius: 5px;
}
input.card:hover{
  color: #faa;
  border-color: #faa;
}

.kaikei{
  margin: 10px 10px 10px 0;
  font-size: 18px;
  text-align: right;
}

table.product{
  margin: 0 auto;
}

.gazou{
  width: 100px;
 }
 table.cart_t td{
   width:200px;
 }
 
 table.cart_r td img{
   width:100px;
 }
 
 .scroll_d{
   display: flex;
 }
 
 .scroll_d1{
   width: 100px;
 }
 
 .scroll_d2{
   width: 150px;
 }
 