@charset "utf-8";

/* 共通のスタイル */

h1{
    margin: 25px auto;
}

table{
    margin: 0 auto;
}


table tr,
table td{
  border: 1px #aaa solid;
}

td.left{
    width: 6rem;
    vertical-align: middle;
}

td.right{
    text-align: left;
    padding: 2px 0 2px 2px;
}

textarea.description{
    width: 18em;
    height: 5em;
}

div.button{
    margin: 20px auto;
}

img.insert_img{
    width: 300px;
}


