@charset "utf-8";

div.main{
  display: flex;
	width: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
}

/* サイドバー */
div.main_flex1{
	margin-top: 30px;
  width: 200px;
	display: block;
	flex: 1;
	order: 2;
}
.count{
	font-size: 2rem;
	padding: 5px;
}

/*searchアイコン作成*/
.material-icons.miCSS { 
  color: #808080;
  font-size: 24px;
}

p.conditions{
  font-size: 1.3rem;
  margin-top: 10px;
}

p.area_title{
  font-size: 1.2rem;
  margin-top:10px;
  text-align: left;
}

a.area{
  display: block;
}



a.area:link{color: #000;}
a.area:visited{color: #000;}
a.area:hover{background-color: #F4F9FF;}
a.area:active{color: #000;}

div.cost{
  display: inline-block;
  vertical-align: middle;
}

.cost_t{
  width: 50px;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}



div.main_flex2{
	margin:0 auto;
	width: 950px;
	order: 1;
}

div.syouhin{
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.gazou{
  width: 200px;
}

/*並べ替え*/
.cp_ipselect {
	overflow: hidden;
	width: 200px;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl02 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl02::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl02:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid #bbbbbb;
}
.cp_ipselect.cp_sl02 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

div.syouhin_flex{
  width: 200px;
}

p.syouhin_title{
  font-size: 1.3rem;
}

p.syouhin_tihou{
  font-size: 0.7rem;
  text-decoration: underline;
}

td{
	width:300px;
}

h1{
	margin-top:20px;
	font-size:30px;
}

table{
	background: none;
}


