@charset "utf-8";

/* 共通のスタイル */

body{
  font-size: 1em;
  line-height: 1.6em;
  color: #000000;
  background-color: #F4FBFF;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

img{
  vertical-align: bottom;
}


h2.login{
  margin-top: 30px;
}


table{
  margin: 0 auto;
  background: none;
}

table tr td{
  padding: 5px;
}

input{
  border: 1px solid #ccc;
}

input.button{
  text-align: center;
  width: 70px;
  height: 40px;
  margin: 5px;
  color: #fff;
  background-color: #dc954e;
  cursor: pointer;
  border: none;
}


