@charset "utf-8";

/* 共通のスタイル */

body{
  font-size: 1em;
  line-height: 1.6em;
  color: #000000;
  background-color: #F4FBFF;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

img{
  vertical-align: bottom;
}

a:link{color: #0000ee;}
a:visited{color: #551a8b;}
a:hover{}
a:active{color: #ff0000;}

h1.login{
  margin-top: 20px;
}

table{
  margin: 0 auto;
}

input.button{
  text-align: center;
  width: 70px;
  height: 40px;
  margin: 5px;
}


