@charset "utf-8";

/* 共通のスタイル */

body{
  font-size: 1em;
  line-height: 1.6em;
  color: #000000;
  background-color: #F4FBFF;
  text-align: center;
  margin: 0 auto;
  width: 1000px;
}

img{
  vertical-align: bottom;
}

a:link{color: #0000ee;}
a:visited{color: #551a8b;}
a:hover{}
a:active{color: #ff0000;}

nav.login{
  margin: 15px 0 20px 0;
}

a.login{
  text-align: right;
  margin-left: 800px;
}
nav ul.nav{
  display: flex;
}

nav ul li.nav_flex{
  width: 100%;
  height: 40px;
  text-align:center;
  background-color: #ddd;
  color: #000;
}

div#tabs{
  margin-top: 10px;
}

.tab {
  border-bottom: 3px solid #fb4343;
}
.tab li {
  color: #333;
  float: left;
  margin: 0 10px -1px 0;
  padding: 10px 20px;
  border: 1px solid #fb4343;
  cursor: pointer;
  list-style: none;
  transition: .3s;
}
.tab li.active {
  color: #fff;
  background: #fb4343;
  cursor: auto;
}

.area ul {
  display: none;
}
.area ul.show {
  display: block;
}
div.main{
  display: flex;
  width: 100%;
  margin: 0 auto;
}

/* サイドバー */
div.main_flex1{
  width: 200px;
  display: block;
}

/*searchアイコン作成*/
.material-icons.miCSS { 
  color: #808080;
  font-size: 24px;
}

p.conditions{
  font-size: 1.3rem;
  margin-top: 10px;
}

p.area_title{
  font-size: 1.2rem;
  margin-top:10px;
  text-align: left;
}

a.area{
  display: block;
}



a.area:link{color: #000;}
a.area:visited{color: #000;}
a.area:hover{background-color: #F4F9FF;}
a.area:active{color: #000;}

div.cost{
  display: inline-block;
  vertical-align: middle;
}

.cost_t{
  width: 50px;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #00A4F2;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}



div.main_flex2{
  width: 700px;
  margin:0 auto;
}

div.main_flex2 img{
	width:300px;
}


div.container{
  display: flex;
  width: 100%;
	margin-top:50px;
}

div.container_flex1{
  width: 300px;
}

div.container_flex2{
  width: 400px;
}

.kago{
  margin-top: 40px;
}

.price{
  margin: 10px 0 10px 0;
  font-size: 2rem;
}

p.p_name{
  font-size:2rem;
}

p.p_area{
  margin: 10px;
}

.syohin{
  text-align: left;
  margin-top: 50px;
  font-size: 1.5rem;
}

.amount{
  margin: 10px;
}

div.siyou{
  background-color: #ddd;
}

/*数量*/

.cp_ipselect {
	overflow: hidden;
	width: 40%;
	margin: auto;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl02 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl02::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl02:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid #bbbbbb;
}
.cp_ipselect.cp_sl02 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

/* カートに入れるボタン */
.cart{
  margin-top: 10px;
  width: 300px;
  height: 70px;
  background-color: #00A4F2;
  color: #fff;
  border-radius: 23px;
}

.favorite{
  margin-top: 10px;
  width: 300px;
  height: 70px;
  background-color: rgb(255, 136, 235);
  color: #fff;
  border-radius: 23px;
}




div.syouhin{
  display: flex;
  width: 100%;
  margin-top: 50px;
}

div.syouhin_flex{
  width: 200px;
}

p.syouhin_title{
  font-size: 1.3rem;
}

p.syouhin_tihou{
  font-size: 0.7rem;
  text-decoration: underline;
}



td{
	width:300px;
}

h1{
	margin-top:20px;
	font-size:30px;
}

/* 商品レビュー */
.btn_submit{
  display:block;
  width: 100px;
  height:40px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  background-color: #f39800; /*ボタン色*/
  border-radius: 5px; /*角丸*/
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 35px auto;
}
.btn_submit:hover{
  background-color: #f9c500; /*ボタン色*/
}

.view_name{
  width: 400px;
}

div.postreview{
  background-color: #99dfff;
  margin: 2px;
  border-radius: 10px;
}

div.postreview_flex{
  display: flex;
}

p.post_name{
  font-size: 1.5rem;
  padding: 10px;
}

p.additional_date{
  padding: 10px;
}

p.post_review{
  text-align: left;
  padding: 25px;
}


.cp_iptxt {
	position: relative;
  width: 60%;
	margin: 0 auto;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
  width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.ef input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}

textarea{
  width: 60%;
  height: 100px;
  background-color: rgba(255,255,255,0);
  padding: 5px;
  border: 2px solid #000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

textarea:focus{
	border-bottom: 2px solid #da3c41;
}

/* バリデーションチェック */
.review_m{
  color: red;
}

/* 星 */
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  padding: 10px 10px 0;
  color: gray;
  cursor: pointer;
  font-size: 50px;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;
}

p.post_star{
  color: #ffcc00;
  font-size: 30px;
}


/* 星の表示 */
.rate {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 16px;
  font-size: 26px;
}
.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: -15px;
  content: '★★★★★';
  display: inline-block;
  height: 16px;
  line-height: 16px;
}
.rate:before {
  color: #ddd;
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.rate0:after {
  width: 0;
}

.rate1:after {
  width: 16px;
}

.rate1-5:after {
  width: 24px;
}

.rate2:after {
  width: 32px;
}

.rate2-5:after {
  width: 40px;
}

.rate3:after {
  width: 48px;
}

.rate3-5:after {
  width: 56px;
}

.rate4:after {
  width: 64px;
}

.rate4-5:after {
  width: 72px;
}

.rate5:after {
  width: 80px;
}

.wrap {
  width: 250px;
  margin: 0 auto;
}