@charset "utf-8";

/* 共通のスタイル */

body{
  font-size: 1em;
  line-height: 1.6em;
  color: #000000;
  background-color: #F4FBFF;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

img{
  vertical-align: bottom;
}

a:link{color: #0000ee;}
a:visited{color: #551a8b;}
a:hover{}
a:active{color: #ff0000;}

nav.login{
  margin: 15px 0 20px 0;
}

a.login{
  text-align: right;
  margin-left: 800px;
}
nav ul.nav{
  display: flex;
}

nav ul li.nav_flex{
  width: 100%;
  height: 40px;
  text-align:center;
  background-color: #ddd;
  color: #000;
}


div#tabs{
  width: 90%;
  margin: 0 auto;
}

div.panel{
  width: 90%;
  margin: 0 auto;
}

h1.request{
  font-size: 2em;
  margin: 40px 0 20px 0;
}

.main{
  margin: 0 0 40px 0;
}

a.link{
  display: block;
  margin: 20px 0 40px 0;
}

table,
tr,
td{
  border:none;
}

/*ここからリクエスト入力画面*/
table.request{
  width: 900px;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px #aaa solid;
  padding: 10px;
}

table.request tr,
table.request td.r_first{
  border: 1px #aaa solid;
}

td.r_first{
  width: 18%;
  vertical-align: middle;
}

td.r_second{
  width: 6rem;
  vertical-align: middle;
}

td.r_third{
  width: 10rem;
  padding: 0.5% 0;
  text-align: left;
  vertical-align: middle;
}

td.r_fourth{
  text-align: left;
  vertical-align: middle;
}

td.r_connect{
  padding: 0.5% 0;
  text-align: left;
  vertical-align: middle;
}

.request_email{
  margin-left: 5px;
}

.request_other{
  width: 35em;
  height: 5em;
  margin-left: 5px;
}

.button{
  padding: 5px 0;
}

/*ここからお問い合わせ入力画面*/
table.inquiry{
  width: 900px;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px #aaa solid;
  padding: 10px;
}

table.inquiry tr,
table.inquiry td.i_first{
  border: 1px #aaa solid;
}

td.i_first{
  width: 18%;
  vertical-align: middle;
}

td.i_second{
  width: 6rem;
  vertical-align: middle;
}

td.i_third{
  width: 10rem;
  padding: 0.5% 0;
  text-align: left;
  vertical-align: middle;
}

td.i_fourth{
  text-align: left;
  vertical-align: middle;
}

td.i_connect{
  padding: 0.5% 0;
  text-align: left;
  vertical-align: middle;
}

.inquiry_other{
  width: 35em;
  height: 5em;
  margin-left: 5px;
}

.inquiry_email{
  margin-left: 5px;
}

span{
  color: red;
  font-size:0.8em;
}