@charset "utf-8";

/* 共通のスタイル */

body{
  font-size: 1em;
  line-height: 1.6em;
  color: #000000;
  background-color: #F4FBFF;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

img{
  vertical-align: bottom;
}

a:link{color: #0000ee;}
a:visited{color: #551a8b;}
a:hover{}
a:active{color: #ff0000;}

nav.login{
  margin: 15px 0 20px 0;
}

a.login{
  text-align: right;
  margin-left: 800px;
}
nav ul.nav{
  display: flex;
}

nav ul li.nav_flex{
  width: 100%;
  height: 40px;
  text-align:center;
  background-color: #ddd;
  color: #000;
}


div#tabs{
  width: 90%;
  margin: 0 auto;
}

div.panel{
  width: 90%;
  margin: 0 auto;
}

h2.request{
  font-size: 2em;
  margin: 40px 0 20px 0;
}

.main{
  margin: 0 0 40px 0;
}

a.link{
  display: block;
  margin: 20px 0 40px 0;
}

table.request{
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px #aaa solid;
  padding: 10px;
}

table.confirmation{
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 10px;
}

table.request tr,
table.request td{
  border: 1px #aaa solid;
}

.left{
  width: 18%;
  vertical-align: middle;
}

.center{
  width: 13%;
  vertical-align: middle;
}

.right{
  padding: 0.5% 0;
  text-align: left;
  vertical-align: middle;
}

.name{
  padding-left: 8.8%;
}

.name input{
  margin-right: 2em;
}

.mail{
  padding-left: 10px;
}

.mail input{
  width: 250px;
}

textarea.request{
  width: 80%;
  height: 5em;
  margin-left: 10px;
}

.button{
  padding: 5px 0;
}

.button2{
  width: 100px;
  padding: 5px 0;
  display: flex;
  margin:0 auto;
}

.button2 input{
  margin: 0 auto;
}

.toi{
  height: 5em;
}

input.kakunin{

}

input.reset{

}

div#tabs{
  margin-top: 10px;
}

.tab {
  border-bottom: 3px solid #fb4343;
}
.tab li {
  color: #333;
  float: left;
  margin: 0 10px -1px 0;
  padding: 10px 20px;
  border: 1px solid #fb4343;
  cursor: pointer;
  list-style: none;
  transition: .3s;
}
.tab li.active {
  color: #fff;
  background: #fb4343;
  cursor: auto;
}

.area ul {
  display: none;
}
.area ul.show {
  display: block;
}



