@charset "utf-8";

/* 共通のスタイル */

body{
  font-size: 1em;
  line-height: 1.6em;
  color: #000000;
  background-color: #F4FBFF;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

img{
  vertical-align: bottom;
}

a:link{color: #0000ee;}
a:visited{color: #551a8b;}
a:hover{}
a:active{color: #ff0000;}

nav.login{
  margin: 15px 0 20px 0;
}

a.login{
  text-align: right;
  margin-left: 800px;
}
nav ul.nav{
  display: flex;
}

nav ul li.nav_flex{
  width: 100%;
  height: 40px;
  text-align:center;
  background-color: #ddd;
  color: #000;
}


div#tabs{
  width: 90%;
  margin: 0 auto;
}

div.panel{
  width: 90%;
  margin: 0 auto;
}

h1.request{
  font-size: 2em;
  margin: 40px 0 20px 0;
}

.main{
  margin: 0 0 40px 0;
}

a.link{
  display: block;
  margin: 20px 0 40px 0;
}

table.confirmation{
	width:600px;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px #aaa solid;
  padding: 10px;
}

table.confirmation tr,
table.confirmation td.left,
table.confirmation td.left2{
  border: 1px #aaa solid;
}

td.left{
  width: 23%;
  vertical-align: middle;
}

td.left2{
  width: 9em;
  vertical-align: middle;
}

td.center{
  width: 3.5rem;
  vertical-align: middle;
}

td.right{
  width: 10rem;
  padding: 0.5% 0;
  text-align: left;
  vertical-align: middle;
}

td.connect{
  padding: 0.5% 30px;
  text-align: left;
  vertical-align: middle;
}

td.other{
  padding: 0.5% 30px;
  text-align: left;
  vertical-align: middle;
}


.button{
  padding: 5px 0;
}

td img{
  width:100px;
}