@charset "utf-8";


/* 共通のスタイル */
*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #ffffe0;
  font-family: 'Open Sans', sans-serif;
}

img{
  vertical-align: bottom;
}

/* ロゴ */
.logo{
  clear: both;
  text-align: center;
}

.logo img{
  height: 100px;
  width: 200px;
}


h1{
  text-align: center;
  color: #888;
}


/* ログイン(新規登録) */
.gologin{
  float: right;
  clear: right;
}

/* ナビ */
nav{
  width: 100%;
  height: 50px;
  background-color: #FFA500;
}
nav ul{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav ul li{
  text-align: center;
}
.nav{
  width: 250px;
  color: white;
  line-height: 50px;
  font-size: 20px;
}

.nav:hover{
  font-size: 21px;
  background-color: #ffb229;
}

ul,li{
  list-style: none;
}

  /* リンク */
a:link{
  color: #888;
  text-decoration: none;
}
a:visited{color: #888;}
a:hover{
  text-decoration: underline;
}



  /* ボタン */
.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #FFB83F;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background: #FFA500;
}

.form-wrapper a{
  display: block;
  margin-top: 10px;
  text-align: right;
}



input[type="button"]{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.copyright{
	margin: 50px auto 0 auto;
	text-align: center;
}


