/* ペット詳細 */
.details{
  margin-top: 40px;
  text-align: center;
}
.details img{
  width: 20%;
  height: 20%;
}

  /* シェアボタン */
.share a{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 30px;
}
.share a:link{color: #fff;}
.share a:visited{color: #fff;}
.share a:hover{text-decoration: none;}
.twitter{
  margin-right: 10px;
  padding: 5px 21px;
  background-color: #55acee;
}
.facebook{
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #3b5998;
}


dl{
  margin: 0 auto;
  text-align: left;
  width: 40%;
}
dl dt{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 17px;
  background-color: #FFA500;
}
dl dd{
  margin-bottom: 13px;
  padding-left: 10px;
  line-height: 40px;
}


.mail{
  display: block;
  margin: 30px auto;
}