/* 新規登録 */
.confirm{
  margin-top: 10px;
  text-align: center;
}

.message{
  text-align: center;
}
.message div{
	color: red;
}
.message p span{
	color: red;
}

.regist{
  margin: 0 auto;
  width: 500px;
  height: 380px;
  padding: 30px 30px 20px 30px;
  border: solid 1px #c0c0c0;
  background-color: #fffaf0;
}
.regist form ul{
  margin: 0 auto;
  width: 400px;
}
.regist form ul li{
  margin-top: 40px;
}
.regist form ul li label{
  display: inline-block;
  width: 200px;
}

.regist .button-panel{
  display: block;
  margin-top: 35px;
  text-align: center;
}
.button-panel .button{
  padding: 10px 30px;
}

.backlogin{
  margin-top: 50px;
  text-align: center;
}


.complete{
  text-align: center;
  margin-top: 100px;
}
